
@font-face {
  font-family: 'Poppins-Bold';
  src: url('/assets/fonts/Poppins-Bold.ttf')
    format('truetype')
    ;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url('/assets/fonts/Poppins-BoldItalic.ttf')
    format('truetype')
    ;
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('/assets/fonts/Poppins-ExtraBold.ttf')
    format('truetype')
    ;
  font-style: normal;
  font-weight: bolder;
}

@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url('/assets/fonts/Poppins-ExtraBoldItalic.ttf')
    format('truetype')
    ;
  font-style: italic;
  font-weight: bolder;
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url('/assets/fonts/Poppins-Italic.ttf')
    format('truetype')
    ;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/assets/fonts/Poppins-Regular.ttf')
    format('truetype')
    ;
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: hsl(0, 0%, 94%);
}
